.container {
  background-image: url(./assets/Images/background1.png);
  position: absolute; /* Altere para absolute ou relative, se necessário */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Garante que o contêiner ocupe pelo menos 100% da altura da tela */
  width: 100%; /* Certifique-se de que a largura seja 100% */
  top: 0;
  left: 0;
}

.logoIesb {
  width: 128px;
  height: 153px;
  position: absolute;
  top: 82px; /* Coloca a imagem no meio da tela verticalmente */
  left: 50%; /* Coloca a imagem no meio da tela horizontalmente */
  transform: translateX(-50%); /* Ajusta a posição para o centro exato */
}

.box {
  background-color: #d92f35;
  width: 700px;
  height: 170px;
  padding: 20px;
  position: absolute;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn {
  color: #d92f35;
  background-color: #ffff;
  font-weight: bold;
  padding: 10px;
  margin: 0 30px;
  font-size: 25px;
}
