@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* fontes */
  --primary-font: "Roboto Condensed", sans-serif;
  --font2: "Bebas Neue";
  --font3: "Inter";
  --font4: "Koulen";

  /* cores */
  --background-color1: white;
  --red-color1: #d92f35;
  --red-color2: #aa1010;
  --red-color3: #660909;
  --red-color4: #e21515;
  --red-color5: #4f0707;
  --pink-color1: #f6b6b6;
}
