@import "./global.css";

/* Logo no topo */
.logoIesbLogin {
  position: absolute;
  top: 0px;
  left: 21%;
  transform: translateX(-50%);
  transform: scale(0.6);
  height: auto;
}

/* Container geral da página de login */
.containerLogin {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

/* Formulário de login (lado esquerdo) */
.formLogin {
  width: 50%;
  background-color: var(--background-color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
}

/* Título do login */
.titleLogin {
  color: var(--red-color4);
  font-family: var(--font2);
  font-size: 35px;
  margin-bottom: 5px;
  text-align: center;
}

/* Campos de input */
.inputLogin {
  background-color: rgba(246, 182, 182, 0.4);
  padding: 12px;
  margin: 8px 0;
  width: 40%;
  max-width: 350px;
  border: 1.5px solid var(--pink-color1);
  border-radius: 10px;
  font-family: var(--font3);
  color: var(--red-color5);
  text-align: center;
}

/* Checkbox e link de recuperação */
.options {
  width: 40%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--red-color3);
  font-family: var(--font3);
}

/* Estilização do checkbox */
input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px solid var(--pink-color1);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

/* Marcação do checkbox */
input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 2px;
  color: var(--pink-color1);
  font-size: 14px;
}

/* Link de recuperação de senha */
.linkPassword {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Botão entrar */
.btnEntrar {
  width: 40%;
  max-width: 350px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  background-color: var(--red-color2);
  color: var(--background-color1);
}

/* Botão cadastro */
.btnCadastro {
  width: 40%;
  max-width: 350px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  background-color: var(--background-color1);
  color: var(--red-color2);
  border: 1.5px solid var(--red-color2);
  border-radius: 10px;
}

.text {
  color: var(--red-color3);
  text-align: center;
  margin-top: 5px;
}

/* Botões de login externos */
.loginExternos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  cursor: pointer;
}

.loginExternos img {
  width: 40px;
  height: auto;
}

.logoBayAreaLogin {
  position: absolute;
  bottom: 0.1px; /* fixa no final da tela */
  left: 25%; /* centraliza horizontalmente */
  transform: translateX(-50%) scale(0.5); /* centraliza e escala ao mesmo tempo */
  height: auto;
}

/* Lado direito com a imagem ilustrativa */
.infoLogin {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--pink-color1);
  align-items: center;
}

.infoImage {
  padding: 20px;
  box-sizing: border-box;
  justify-content: flex-end;
}

/* Imagem de ilustração */
.imgLogin {
  max-width: 50%;
  display: block;
  padding-right: 200px;
  top: 34px;
}

/* Descrição ao lado da imagem */
.description {
  max-width: 70%;
  font-family: var(--font3);
  font-size: 20px;
  text-align: center;
  padding-right: 300px;
  color: var(--red-color5);
  margin-bottom: 5px; /* espaço entre o texto e a imagem */
}

.destaqueLogin {
  font-weight: bold;
  color: var(--red-color4);
}
